
body {
    
}

main.destination {
    display: flex;
    
    background-size: cover;
    height: 55vw;
    align-items: center;
    justify-content: space-evenly;
    background-position: center;
    background-repeat: no-repeat;
}

main.destination--iceland {
    background-image: url("/assets/images/iceland.jpg");
}

main.destination--hawaii {
    background-image: url("/assets/images/hawaii.jpg")
}

main.destination--greece {
    background-image: url("/assets/images/greece.jpg")
}

.destination > h1 {
    color: white;
    font-size: 4rem;
    width: 100%;
    position: absolute;
    top: 0.8em;
    left: 6%;
}

.destination .card {
    background-color: white;
    width: 20vw;
    height: 30vw;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: flex-start;
}

.card--fri {
    margin-left: 13vw;
}

.card--sun {
    margin-right: 13vw;
}   

.destination .card > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.destination .card > h3 {
    text-align: center;
    padding-bottom: 0;
    border-bottom: 1px solid;
    margin: 1rem;
}

.destination .card > ul > li {
    background-color: #fefaf5;
    margin: 1rem;
    padding: 1rem 0rem;
}