/* GLOBAL STYLES */
body {
  width: 100%;
  font-family: Verdana;
  margin: 3rem 0 0;
}

main {
  width: 60vw;
  text-align: center;
}

/* Global Styles: Navigation Bar */
.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.nav-bar > .logo {
  color: #335576;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 4rem;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  width: 25%;
  list-style: none;
  margin-right: 4rem;
}

.nav-bar a {
  text-decoration: none;
  color: #335576;
}

.nav-bar a.active-page {
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 3px solid #ff0000;
}

/* MAIN STYLES */
/* Main styles: hero */
header > .hero {
  display: flex;
  align-items: flex-start;
  background-color: #fefaf5;
  padding: 3rem 6rem 5rem 4rem;
  justify-content: space-between;
}

.hero > .hero__text {
  flex-direction: column;
  text-align: left;
  color: #335576;
  padding-top: 2rem;
  font-size: 1.5rem;
  width: 45vw;
}
.hero > .hero__text > h1 {
  font-weight: bold;
}

.hero > .hero__text > p {
  font-size: 0.9rem;
}

.hero button {
  background-color: #db7a4e;
  border: 0;
  width: 30%;
  height: 3vw;
  border-radius: 20px;
  color: white;
  font-size: large;
}

.hero > img {
  width: 40%;
}

/* Main Styles: Recommendations Section: 
    recommendations for travel destinations offered by the travel site, presented in the form of cards*/
main > .recommendations__heading {
  color: #335576;
  padding-top: 1rem;
  text-align: left;
  margin-left: 4rem;
}

main section div h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5%;
  color: white;
}

.recommendations {
  display: flex;
  padding: 2px 0rem 4rem;
  justify-content: space-between;
  position: relative;
  left: 31%;
  top: 50%;
}

.recommendations > div {
  width: 30%;
  height: 30vw;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  border: 1px solid black 20%;
  box-shadow: 0px 4px 4px black 20%;
  backround-repeat: no-repeat;
}

.recommendations__card--hawaii {
  background-image: url("/assets/images/hawaii.jpg");
}

.recommendations__card--iceland {
  background-image: url("/assets/images/iceland.jpg");
}

.recommendations__card--greece {
  background-image: url("/assets/images/greece.jpg");
}

.recommendations__card > img {
  width: 100%;
}

/* Global Styles: footer */
.footer {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-around;
  height: 15vw;
  align-items: center;
}

.footer h2,
.footer p {
  color: #335576;
}

.footer h3 {
  color: #db7a4e;
  font-size: 12px;
}

.footer section.contact {
  margin-left: 10rem;
}

.footer section.hours {
  display: flex;
  padding: 0;
  flex-direction: column;
  width: 40vw;
}

.footer section.social {
  margin-right: 10rem;
}

.footer .hours h2#heading--hours {
  margin-bottom: 0rem;
}

.footer .hours--details {
  display: flex;
  justify-content: flex-start;
}

.footer .hours article.hours--mon-fri {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.footer .hours .hours--mon-fri h3#heading--mon-fri {
  margin-bottom: 0.2em;
}

.footer .hours .hours--sat {
  margin-right: 2rem;
}

.footer .social {
  width: 10vw;
}

.social .social--details {
  display: flex;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.social .social--details img {
  width: 1.5em;
  height: 1.5em;
}
